.wrapper{
    width:960px;
    margin:0 auto;
    grid-template-columns: repeat(1, 1fr);
}

.row{
    
    display:flex;
    justify-content: space-between;
    height: 100px;
    align-content: space-between;

    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 50px; */
}

